@import url(./font.css);
@import url(./reset.css);
@import url(./common.css);



.header { position: fixed; top: -1px; left: 0; width: 100%; z-index: 9999; /* background: #ccc; */ }
.header .inner { display: flex; justify-content: space-between; position: relative; padding: 0 35px 0 30px; height: 50px; color: #fff; }
.header .logo { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.header .logo a{ display: block; }
.header .logo a img { width: 195px; height: 50px; }




.header .group-nav { display: flex; }
.header .btn-menu { width: 30px; height: 50px; display: block; padding: 15px 0; }
.header .btn-menu .line-wrap {position: relative; height: 100%;}
.header .btn-menu span { position: absolute; width: 100%; height: 1px; left: 0; background-color: #fff; }
.header .btn-menu .line1 { top: 5%; }
.header .btn-menu .line2 { top: 50%; }
.header .btn-menu .line3 { top: 95%;}

.header .gnb-area .gnb-list { display: flex; position: relative;  margin-left: 40px; }
.header .gnb-area .gnb-item {  margin-right: 30px; }
.header .gnb-area .gnb-item a { color: #fff; height: 50px; line-height: 50px; display: block; }






.header .group-utill { display: flex; align-items: center; }

.header .search-area { position: relative;}
.header .search-area .btn-search { display: block; height: 30px; width: 124.5px; border-bottom: 1px solid; background-image: url(https://aromatica.co.kr/layout/basic/img/icon/icon_search_w.svg);
        background-repeat: no-repeat;
    background-position: right ;}
        
.header .search-area .btn-search .blind { }


.header .utill-area { display: flex; }
.header .utill-area a {  margin-left: 10px;  width: 30px; height: 30px; }
.header .utill-area .link-login { background-image: url(https://aromatica.co.kr/layout/basic/img/icon/icon_mypage_w.svg);}
.header .utill-area .link-cart { background-image: url(	https://aromatica.co.kr/layout/basic/img/icon/icon_cart_w.svg); }







.footer { background: #112b23; padding: 60px 30px 50px 30px; overflow: hidden; }
.footer .left-area { width: 20%; float: left; display: inline-block; }
.footer .left-area img { width: 160px; height: 17px;}

.footer .right-area { position: relative; float: right; width: 80%; box-sizing: border-box; padding: 10px 0 5px 13%;; border-left: 1px solid rgba(255,255,255,0.15); }
.footer .right-area .top { display: flex; justify-content: space-between; margin-bottom: 40px; margin-right: 100px; }
.footer .right-area .top .title { font-size: 17px; color: #fff; margin-bottom: 10px; line-height: 1.8em;}
.footer .right-area .top ul {}
.footer .right-area .top li {}
.footer .right-area .top li a { color: #fff; opacity: 0.8; line-height: 1.8em; font-size: 15px; font-weight: 300; }

.footer .right-area .top .cs-center {color: #fff;}
.footer .right-area .top .cs-center .number { font-size: 20px; font-weight: 300; opacity: 0.8; font-family: 'minerva-modern',sans-serif; }
.footer .right-area .top .cs-center .operating_hours { margin-top: 15px; }
.footer .right-area .top .cs-center .lunch_break { font-size: 15px; font-weight: 300; line-height: 1.8em; }

.footer .right-area .top .order { font-size: 15px; font-weight: 300; line-height: 1.8em; }



.footer .right-area .bottom { margin-top: 80px; }
.footer .right-area .bottom p { font-size: 13px; line-height: 1.8em; font-weight: 300; color: #fff; opacity: 0.6; }
.footer .right-area .bottom .company { margin-bottom: 10px; }
.footer .right-area .bottom .addr-area {}
.footer .right-area .bottom .addr-area .city {}
.footer .right-area .bottom .addr-area .entre-info {}
.footer .right-area .bottom .addr-area .entre-info a {}
.footer .right-area .bottom .addr-area .contact-info {}

.footer .right-area .bottom .privacy-area { font-weight: 300; color: #fff; opacity: 0.6; line-height: 1.8em; font-size: 13px; }
.footer .right-area .bottom .privacy-area a { text-decoration: underline; margin-right: 7px; }
.footer .right-area .bottom .copy-area { margin-top: 5px; font-weight: 300; color: #fff; opacity: 0.6; line-height: 1.8em; font-size: 13px; }

.footer .btn-close { position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0, 0);
}